a:hover {
  color: #FFFFFF; }

.block-separetor__btn {
  font-weight: 400;
  font-size: 11px;
  padding: 6px 0px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  width: 115px;
  height: 27px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }
  .block-separetor__btn--black {
    color: #FFFFFF;
    background: #000000; }
  .block-separetor__btn--white {
    color: #000000;
    background: #FFFFFF; }

.block-separetor__title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase; }
  .block-separetor__title--black {
    color: #222222; }
  .block-separetor__title--white {
    color: #FFFFFF; }

.block-separetor__description {
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  color: #222222; }
  .block-separetor__description--white {
    color: #FFFFFF; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .phone__text {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF; }
  .phone__tel {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF; }

.menu-header {
  position: relative; }

.nav-header {
  background: #212121;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 5; }

.menu {
  width: 100%;
  padding: 13px 70px;
  margin: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF; }

.menu__item {
  border-right: 2px dotted black;
  padding-right: 45px; }
  .menu__item:last-child {
    border-right: none; }

.subheader {
  width: 100%;
  position: absolute;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(50px);
          transform: translateY(50px); }

.logo__title {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5; }

.logo__link {
  display: block;
  max-width: 380px;
  margin-top: 19px; }

.order-btn {
  margin-top: 10px;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border-color: rgba(61, 48, 48, 0); }

.promo {
  background: url("/img/bg/uber_bg.jpg") center center/cover no-repeat;
  height: 799px;
  position: relative;
  z-index: -5;
  width: 100%;
  top: 50px;
  padding-top: 140px; }

.promo__main-title {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

.promo__title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px; }

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 147px; }

.wrapper-promo__btn {
  margin: 0px auto;
  margin-top: 121px; }

.reason {
  margin-top: 100px; }
  .reason__circle {
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px;
    padding: 0px 40px; }
  .reason__head {
    font-weight: 400;
    font-size: 17px;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    color: #1EACC7;
    padding-right: 50px; }
  .reason__description {
    font-weight: 400;
    font-size: 17px;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    color: black; }
  .reason__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 25px; }

.mobile {
  margin-top: 30px;
  padding: 60px 0px 0px 0px;
  background: url("/img/bg/mobile_bg.jpg") center center/cover no-repeat; }
  .mobile__img-bg {
    max-width: 350px;
    min-height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
    margin: 18px 30px; }
  .mobile__img-bg-1 {
    background: url("/img/carts/cart1.jpg") center center/cover no-repeat; }
  .mobile__img-bg-2 {
    background: url("/img/carts/cart2.jpg") center center/cover no-repeat; }
  .mobile__img-bg-3 {
    background: url("/img/carts/cart3.jpg") center center/cover no-repeat; }
  .mobile__img-bg-4 {
    background: url("/img/carts/cart4.jpg") center center/cover no-repeat; }
  .mobile__img-bg-5 {
    background: url("/img/carts/cart5.jpg") center center/cover no-repeat; }
  .mobile__img-bg-6 {
    background: url("/img/carts/cart6.jpg") center center/cover no-repeat; }
  .mobile__title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .mobile__circle {
    width: 29px;
    height: 29px;
    background: #000000;
    border-radius: 100%;
    position: absolute;
    bottom: 30px;
    cursor: pointer; }
  .mobile__plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transform: translateY(14px);
            transform: translateY(14px); }
  .mobile__line-vertical {
    background: #1EACC7;
    width: 3px;
    height: 13px;
    position: absolute; }
  .mobile__line-horizontal {
    background: #1EACC7;
    width: 13px;
    height: 3px;
    position: absolute; }

.selection {
  background: url("..//img/bg/selection-bg.jpg") center center/cover no-repeat;
  height: 899px;
  padding: 35px 0px 0px 0px; }
  .selection__car-img {
    padding-top: 45px;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .selection__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222222; }

.condition {
  padding: 60px 0px 50px 0px; }
  .condition__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 50px; }
    .condition__title--blue {
      color: #1EACC7; }
    .condition__title--red {
      color: #FF5656; }
  .condition__description {
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    color: #1EACC7; }
  .condition__block-content {
    margin-top: 20px; }
  .condition__list {
    list-style-type: none; }
  .condition__list-item--blue:before {
    content: url("..//img/logo/check_blue.png");
    display: inline-block;
    width: 21px;
    -webkit-transform: translate(-10px, 2px);
            transform: translate(-10px, 2px);
    vertical-align: middle; }
  .condition__list-item--red:before {
    content: url("..//img/logo/check_red.png");
    display: inline-block;
    width: 21px;
    -webkit-transform: translate(-10px, 2px);
            transform: translate(-10px, 2px);
    vertical-align: middle; }

.world {
  background: url("../img/bg/world-bg.jpg") center center/cover no-repeat;
  height: 720px;
  padding: 40px; }
  .world__city-link {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1EACC7;
    display: block;
    margin: 0 auto;
    -webkit-transform: translateY(500px);
            transform: translateY(500px); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 20px 20px 20px; }

.footer > div {
  width: 33%; }

.block-info {
  padding: 0 50px; }
  .block-info__line {
    width: 80%;
    height: 7px;
    background: #1EACC7;
    border-radius: 5px;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    margin: 0 auto; }
  .block-info__block-main-link {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-transform: uppercase; }
  .block-info__main-link {
    color: #070716;
    font-weight: 300;
    text-decoration: none; }
    .block-info__main-link:hover {
      color: #38383b; }
  .block-info__block-about-link {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
    margin: 20px; }
  .block-info__about-link {
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    color: #999999; }
    .block-info__about-link:hover {
      color: #5a4d4d; }
  .block-info__lang {
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #1FBAD6; }

.block-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .block-icon__circle {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin: 5px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block-icon__icon {
    position: absolute;
    z-index: 5;
    color: white; }

.block-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .block-app__img {
    margin-top: 12px;
    display: inline-block; }

.order__phone-adaptive {
  display: none; }

@media (max-width: 1700px) {
  .block-info {
    width: 647px;
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px); } }

@media (max-width: 1400px) {
  .phone__tel {
    font-size: 20px; }
  .phone__text {
    font-size: 11px; }
  .mobile__img-bg {
    max-width: 320px; }
  .block-info {
    width: 600px;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px); } }

@media (max-width: 1200px) {
  .phone {
    padding-bottom: 7px; }
    .phone__tel {
      font-size: 19px; }
    .phone__text {
      font-size: 10px; }
  .menu__link {
    font-size: 11px; }
  .menu__item {
    padding-right: 22px; }
  .subheader .order-btn {
    width: 225px; }
  .mobile__img-bg {
    max-width: 255px; }
  .mobile__title {
    font-size: 20px; }
  .block-info {
    width: 450px;
    -webkit-transform: translateX(-66px);
            transform: translateX(-66px); }
    .block-info__main-link {
      font-size: 13px; }
    .block-info__about-link {
      font-size: 8px; } }

@media (max-width: 991px) {
  .phone {
    padding-bottom: 6px; }
    .phone__tel {
      font-size: 20px; }
    .phone__text {
      font-size: 11px; }
  .menu {
    padding: 13px 2px; }
    .menu__link {
      font-size: 12px; }
    .menu__item {
      padding-right: 12px; }
  .description {
    padding: 0px; }
  .mobile__img-bg {
    max-width: 320px; }
  .mobile__title {
    font-size: 23px; }
  .promo__main-title {
    font-size: 50px; }
  .promo__title {
    font-size: 30px; }
  .logo__img {
    width: 240px; }
  .logo__title {
    font-size: 12px; }
  .reason__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .reason__item:first-child {
      padding: 0;
      margin: 0;
      padding-top: 50px; }
    .reason__item:nth-child(2) {
      padding: 0;
      margin: 0;
      margin-top: 0px; }
  .subheader .order-btn {
    width: 194px;
    height: 58px; }
  .block-info {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    width: 320px;
    padding: 0; }
    .block-info__main-link {
      font-size: 13px; }
    .block-info__about-link {
      font-size: 8px;
      padding: 0; }
  .block-app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 768px) {
  .hamburger {
    position: absolute;
    right: 5px;
    top: 12px; }
    .hamburger span {
      height: 3px;
      width: 30px;
      background-color: white;
      z-index: 10;
      display: block;
      margin-bottom: 5px; }
    .hamburger--active span:nth-child(1) {
      -webkit-transform: translateY(9px) rotate(-45deg);
              transform: translateY(9px) rotate(-45deg); }
    .hamburger--active span:nth-child(2) {
      display: none; }
    .hamburger--active span:nth-child(3) {
      -webkit-transform: translateY(2px) rotate(45deg);
              transform: translateY(2px) rotate(45deg); }
  .description {
    display: none; }
  .phone {
    display: none; }
  .order {
    display: block; }
    .order__phone-adaptive {
      font-weight: 400;
      font-size: 12px;
      line-height: 68px;
      text-decoration: none;
      color: white;
      display: block;
      position: absolute;
      right: 33px;
      top: -18px;
      margin: 0 auto; }
    .order .order-btn {
      width: 150px;
      height: 25px;
      padding: 0;
      margin: 0;
      display: block;
      position: absolute;
      top: 27px;
      right: 6px; }
  .logo__img {
    width: 100%; }
  .logo__title {
    display: none; }
  .nav-header {
    height: 40px; }
  .subheader {
    height: 60px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  .promo {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .menu {
    position: absolute;
    left: -50vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50vh;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .menu--active {
      -webkit-transition: 1s all;
      transition: 1s all;
      -webkit-transform: translateX(49vh);
              transform: translateX(49vh); }
    .menu__item {
      border: none;
      margin: 0px 0px 20px 5px;
      text-align: left; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer div {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer div:nth-child(1) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .footer div:nth-child(3) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .block-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .block-info__line {
      width: 80% !important;
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px); }
    .block-info__lang {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .reason__head {
    text-align: center; }
  .reason__circle {
    margin: 0; }
  .reason__description {
    text-align: center; }
  .mobile__img-bg {
    margin: 0 auto;
    margin-bottom: 20px; }
    .mobile__img-bg:first-child {
      margin-top: 20px; } }

@media (max-width: 575px) {
  .mobile__img-bg {
    max-width: 90%; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer div {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer div:nth-child(1) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .footer div:nth-child(3) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .block-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    margin: 0 auto; }
    .block-info__line {
      width: 80% !important;
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px); }
    .block-info__lang {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

* {
  font-family: 'Roboto', sans-serif; }
/*# sourceMappingURL=style.css.map */